body
{
background-color:#9ef542;
font-family: 'Roboto', sans-serif;

}
.navbar-light .navbar-nav .nav-link {
color:black;

}

.footer{
height:40px;
width:100%;
background-color:white;
position:fixed;
bottom:0;
left:0;
text-align:center;
font-weight:bold;
}

.table .table-bordered {
border-width:4px;
}
