{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="margin-bottom:60px; margin-left:250px;">
  <div class="row">
    <div class="col-sm-4"><img src="{{p.image.url}}" height="370px" width="370px"></div>
    <div class="col-sm-5">
      <h4>{{p.name}}</h4>
      <h5 class="mt-4">{{p.price}}</h5>
      <p class="mt-2" style="text-indent:20px;line-height:2;text-align:justify">{{p.desc}}</p>
      {% if user.is_superuser == False %}

      {% if p.stock <= 0 %}
      <h4>Out Of Stock</h4>
      {% else %}
      <h4><a href="{% url 'cart:addtocart' p.name %}" class="btn btn-secondary mt-4">Add To Cart</a></h4>
      {% else %}

      <h4>Product In Stock</h4>
      <h4><a href="{% url 'admin:index' %}" class="btn btn-secondary mt-4">Add Stock</a></h4>

      {% endif %}
    </div>
  </div>

{% endblock %}
