{% extends 'base.html' %}
{% load static %}
{% block title %}add{% endblock %}
{% block content %}
<div class="container-fluid mt-5" style="margin-bottom:60px;">
    <h4 class="text-center">Name of the customer : {{u}}</h4>

    <div class="row">
        <h4>Order Details</h4>
        {% for i in o %}
        <div class="col-sm-3 my-3 py-2 border border-1 border-secondary">
            <center><img src="{{i.product.image.url}}" height="150px" width="150px"></center>
        </div>
        <div class="col-sm-7 my-3 pe-3 py-2 border border-1 border-secondary">
            <b>Delivery Address:{{i.address}}</b><br>
            <b>Customer Phone:{{i.phone}}</b><br>
            <b>Product Name:{{i.product.name}}</b><br>
            <b>Price:{{i.price}}</b><br>
            <b>No Of Items:{{i.no_of_items}}</b><br>
            <b>Ordered on:{{i.date_ordered}}</b><br>
            <b>Deliver Status:<span class="text-danger">{{i.delivery_status}}</span></b>
        </div>
         {% endfor %}
    </div>

</div>
{% endblock %}
